<div class="row">
  <div class="col-12 col-md-4"></div>
  <div class="col-12 col-md-4 text-center"><h1>Edit Stock</h1></div>
  <div class="col-12 col-md-4"></div>
</div>

<%= render 'form', favorite_stock: @favorite_stock %>

<!-- <%= link_to 'Show', @favorite_stock %> | -->
<!-- <%= link_to 'Back', favorite_stocks_path %> -->
