<div class="jumbotron">
  <h1 class="display-3">Stock Market Today</h1>
  <p class="lead">US market is open | Jan 23 2018</p>
  <hr class="my-4">
  <p class="lead">
    <form>
      <div class="form-group">
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter symbol">
    </div>
    <a class="btn btn-primary btn-sm" href="#" role="button">Search</a>
    </form>
  </p>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-info">Most Active</h3>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Change</th>
              <th scope="col">Last Price</th>
            </tr>
          </thead>
          <tbody id="most_active">

          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        Last updated: Jan 23 2018
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-success">Gainers</h3>
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <h6 class="card-subtitle text-muted">Lorem ipsum</h6>
      </div>
      <div class="card-footer text-muted">
        Last updated: Jan 23 2018
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-danger">Losers</h3>
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <h6 class="card-subtitle text-muted">Lorem ipsum</h6>
      </div>
      <div class="card-footer text-muted">
        Last updated: Jan 23 2018
      </div>
    </div>
</div>
<div id="gainer">

</div>



<script type="text/javascript">
  setInterval(() => {
    fetch('/get_gainers').then(() => {
      console.log("I am live!!!");
    });
  }, 3000);
</script>
