<div id="gainer">

</div>
<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-info">Most Active</h3>
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <h6 class="card-subtitle text-muted">Lorem ipsum</h6>
      </div>
      <div class="card-footer text-muted">
        Last updated: Jan 23 2018
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-success">Gainers</h3>
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum</h5>
        <h6 class="card-subtitle text-muted">Lorem ipsum</h6>
      </div>
      <div class="card-footer text-muted">
        Last updated: Jan 23 2018
      </div>
    </div>  
  </div>

  <div class="col-12 col-md-4">

      <div class="card mb-3">
    <h3 class="card-header text-danger">Losers</h3>
    <div class="card-body">
      <h5 class="card-title">Lorem ipsum</h5>
      <h6 class="card-subtitle text-muted">Lorem ipsum</h6>
    </div>
    <div class="card-footer text-muted">
      Last updated: Jan 23 2018
    </div>
  </div>
</div>




<script type="text/javascript">
  setInterval(() => {
    fetch('/get_gainers').then(() => {
      console.log("I am live!!!");
    });
  }, 3000);
</script>
