<div class="jumbotron">
  <h1 class="display-3">Welcome</h1>
  <p class="lead"><%= @user.email %></p>
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-12 col-md-3">
    <div class="card mb-3">
      <h3 class="card-header">Head</h3>
      <div class="card-body text-center">

      </div>
    </div>
</div>
  <div class="col-12 col-md-9">
    <div class="card mb-3">
      <h3 class="card-header">Your current stocks</h3>
      <div class="card-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
