<div class="jumbotron">
  <h1 class="display-3">Learn about stocks</h1>
  <p class="lead">Use the stock assistant to learn about stakPro</p>
  <hr class="my-4">
  <p>You can type your question or speak</p>
</div>
<div class="row">
  <div class="col-12 col-md-9">
    <div class="card mb-3">
      <h3 class="card-header">Learning material</h3>
      <div class="card-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card mb-3">
      <h3 class="card-header">Stock Assistant</h3>
      <div class="card-body text-center">
        <iframe
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/398e83cc-08ed-4d42-b095-06b1084ee9b3">
        </iframe>
      </div>
    </div>
  </div>
</div>
