<div class="jumbotron">
  <div id="company_header">

  </div>
  <hr class="my-4">
  <p class="lead">
    <div class="form-group">
      <%= form_tag(search_stock_path, method: "get") do %>
        <input type="text" name="query" class="form-control" placeholder="Enter symbol">
      <% end %>
    </div>
  </p>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-white">Summary</h3>
      <div class="card-body">
        <table id="">

        </table>

        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card mb-3">
      <h3 class="card-header text-white">Chart</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <div class="card mb-3">
      <h3 class="card-header text-white">Financials</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-white">Company</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card mb-3">
      <h3 class="card-header text-white">News</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  setInterval(() => {
    fetch('/stock/get_view/<%= @query %>').then(() => {
      console.log("I fire every 3 sec!!!");
    });
  }, 3000);
</script>
