<div class="jumbotron">
  <div id="company_header">
    <p id="company_header_name"></p>
    <h1 id="company_header_price"></h1>
    <h3 id="company_header_change"></h3>
  </div>
  <hr class="my-4">
  <p class="lead">
    <div class="form-group">
      <%= form_tag(search_stock_path, method: "get") do %>
        <input type="text" name="query" class="form-control" placeholder="Enter symbol">
      <% end %>
    </div>
  </p>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-white">Summary</h3>
      <div class="card-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Volume</th>
              <td class="text-right" id="volume"></td>
            </tr>
            <tr>
              <th>Avg daily volume</th>
              <td class="text-right" id="avg_daily_volume"></td>
            </tr>
            <tr>
              <th>Previous close</th>
              <td class="text-right" id="previous_close"></td>
            </tr>
            <tr>
              <th>52 week range</th>
              <td class="text-right" id="fiftytwo_wk_range"></td>
            </tr>
            <tr>
              <th>Market capital</th>
              <td class="text-right" id="market_capital"></td>
            </tr>
            <tr>
              <th>Beta</th>
              <td class="text-right" id="beta_beta"></td>
            </tr>
            <tr>
              <th>Latest EPS</th>
              <td class="text-right" id="latest_eps"></td>
            </tr>
            <tr>
              <th>Latest EPS date</th>
              <td class="text-right" id="latest_eps_date"></td>
            </tr>
            <tr>
              <th>Dividend & yield</th>
              <td class="text-right" id="dividend_yield"></td>
            </tr>
            <tr>
              <th>Ex-dividend date</th>
              <td class="text-right" id="ex_dividend_date"></td>
            </tr>
            <tr>
              <th>P/E ratio</th>
              <td class="text-right" id="pe_ratio"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card mb-3">
      <h3 class="card-header text-white">Chart</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12">
    <div class="card mb-3">
      <h3 class="card-header text-white">Financials</h3>
      <div class="card-body">
        <table class="table table-hover">
          <thead id="income_statement_head">
            <th class="text-white">Income statement</th>
            <th class="text-white text-right" id="first_date"></th>
            <th class="text-white text-right" id="second_date"></th>
            <th class="text-white text-right" id="third_date"></th>
            <th class="text-white text-right" id="fourth_date"></th>
          </thead>
          <tbody>
            <tr id="g_profit">
              <td>Gross profit</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="cost_rev">
              <td>Cost of revenue</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="op_rev">
              <td>Operating revenue</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="op_in">
              <td>Operating income</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="res_dev">
              <td>Research & Development</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="op_ex">
              <td>Operating Expense</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th class="text-white">Balance sheet</th>
              <th class="text-right"></th>
              <th class="text-right"></th>
              <th class="text-right"></th>
              <th class="text-right"></th>
            </tr>
            <tr id="curr_ass">
              <td>Current assets</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="tot_ass">
              <td>Total assets</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="tot_liab">
              <td>Total liabilities</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="curr_cash">
              <td>Current cash</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="curr_debt">
              <td>Current debt</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="tot_cash">
              <td>Total cash</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="tot_debt">
              <td>Total debt</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="share_eq">
              <td>Shareholder equity</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <th class="text-white">Cash flow</th>
              <th class="text-right"></th>
              <th class="text-right"></th>
              <th class="text-right"></th>
              <th class="text-right"></th>
            </tr>
            <tr id="cash_change">
              <td>Cash change</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="cash_flow">
              <td>Cash flow</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr id="op_gainloss">
              <td>Operating gain losses</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-3">
      <h3 class="card-header text-white">Company</h3>
      <div class="card-body">
        <div class="text-center">
          <img class="rounded" id="comp_logo">
        </div>
        <br>
        <p id="comp_description"></p>
        <p id="comp_ceo"></p>
        <p id="comp_symbol"></p>
        <p id="comp_exchange"></p>
        <p id="comp_industry"></p>
        <p id="comp_sector"></p>
        <p id="comp_website"></p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card mb-3">
      <h3 class="card-header text-white">News</h3>
      <div class="card-body">
        <div id="comp_news">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  setInterval(() => {
    fetch('/stock/get_view/<%= @query %>').then(() => {
      console.log("I fire every 3 sec!!!");
    });
  }, 3000);
</script>
